!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p Someone (hopefully you) has requested to remove daily meal subscription for your email account. Follow the link below to remove a subscription:
    %br
    %p https://id.heroku.com/account/password/reset/72a07dd018975e2f0f8b61faf15a29f4
    %br
    %p If you don't wish remoce a subscription for this email, disregard this email and no action will be taken.
    %br
    %p PrograilsApp Team
    %p https://agile-hollows-17864.herokuapp.com/
