.main-window {
  display: flex;
  margin-left: 200px;
  background-color: #402342;
}

.main-background {
  height: 100%;
  background-color: white;
  margin: 0px;
}

.carousel-image-1 {
  background: url('logo.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-image-2 {
  background: url('logo.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-image-3 {
  background: url('logo.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
