.sidebar {
  height: 100%;
  min-height: 100%;
  width: 200px;
  position: absolute;
  text-align: center;
  transition: 1s;

  @media only screen and (max-width: 1600px) {
    left: -200px;
    overflow-y: scroll;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
  }

  .logo {
    background-color: white;
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
      width: 110px;
      height: auto;
    }
  }

  .sign-in {
    background-color: #623055;
    min-height: 162px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
      width: 90px;
      height: auto;
    }

    .sign-out-image {
      width: 105px;
      height: auto;
    }
  }

  .daily-posts {
    background-color: #432048;
    min-height: 162px;
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
      width: 140px;
      height: auto;
      margin: auto;
    }
  }

  .subscription {
    background-color: #e48000;
    min-height: 162px;
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
      width: 110px;
      height: auto;
    }
  }

  .add-locals {
    background-color: #f1391f;
    min-height: 162px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
      width: 110px;
      height: auto;
    }
  }

  .slack-notifications {
    background-color: #21bd7f;
    min-height: 162px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
      width: 110px;
      height: auto;
    }
  }

  .hoverd-menu:hover {
    border: 5px solid white;
  }
}

@media only screen and (max-width: 1600px) {
  .sidebar-icon {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    width: 200px;
    height: 100%;
    min-height: 100%;
  }

  .sidebar-icon:hover .sidebar {
    transition: 1s;
    left: 0;
  }
}
