!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
  %body
    %h3= @restaurant_name.upcase
    %br
    %p= @description
    %br
    %p PrograilsApp Team
    %p https://agile-hollows-17864.herokuapp.com/
